<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue net ninja</title>
    <link rel="stylesheet" href="./style.css">
    <script src="https://unpkg.com/vue@3.0.2"></script>
    <script src="https://unpkg.com/vue@3.0.0-beta.12/dist/vue.global.js"></script>
</head>

<body>
    <div id="app">
        <h1>{{title}}</h1>
        <!-- <button @click="changeTitle">change title</button> -->
        <button @click="changeTitle('something new')">change title</button>

        <!-- CONDITIONAL -->
        <div>
            <!-- v-if, v-else -->
            <div v-if="showBooks">
                <p>some books here</p>
                <!-- LIST  MANUAL -->
                <!-- <p>{{books[0].title}}, {{books[0].author}}</p> -->
                <!-- LIST -->
                <ul>
                    <li v-for="book in books" :class="{fav: book.isFav}">
                        <img :src="book.img" :alt="book.title" width="200">
                        <h3>{{book.title}}</h3>
                        <p>{{book.author}}</p>
                        <button @click="toggleFav(book)" class="btn">fav</button>
                    </li>
                </ul>
            </div>
            <button @click="toggleShowBooks">
                <span v-if="showBooks">hide books</span>
                <span v-else>show books</span>
            </button>
            <!-- v-show (display:block if true and display:none if it's false) -->
            <div v-show="showBooks">
                <p>currently showing this</p>
            </div>
        </div>

        <!-- MOUSE EVENTS -->
        <div class="box" @mouseover="handleEvent">mouseover (enter)</div>
        <div class="box" v-on:mouseleave="handleEvent">mouseleave</div>
        <div class="box" v-on:dblclick="handleEvent">double click</div>
        <div class="box" @mousemove="handleMousemove">
            position: {{x}} - {{y}}
        </div>

        <!-- passing custom argument -->
        <div class="box" v-on:mouseover="handleEvent($event, 5)">mouseover</div>

    </div>

    <script src="./app.js"></script>
</body>

</html>